
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3"></h4>
    <form class="needs-validation" novalidate="">
        <h4 class="mb-3">Payment</h4>
        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                    required="">
                <label class="custom-control-label" for="credit">Cash On delivery</label>
            </div>
        </div>
    </form>
</div>



<div class="container">
    <div class="row">
        
        <div>
            <div class="col-md-4 order-sm-2 mb-2">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Cart</span>
                    <span class="badge badge-secondary badge-pill"></span>
                </h4>
            </div>
        </div>
        <div class="container">
            <div class="card-table">
                <div class="cart-product">
                    <table border="1" cellpadding="15" cellspacing="15">
                        <thead>
                          <th>Name</th>
                          <th>Price</th>
                        
                        </thead>
                        <tr *ngFor="let product of productList">
                          <td>{{ product.name }} X {{ product.num }} Items</td>
                          <td>{{ product.price }}</td>
                          
                        </tr>
                        <tr>
                          <td><b>Total Bill :</b></td>
                          
                          <td>
                            <b>{{ bill }}</b>
                          </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>


        <!-- <div class="col-md-8 order-md-1">
            <h4 class="mb-3"></h4>
            <form class="needs-validation" novalidate="">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                            required="">
                        <label class="custom-control-label" for="credit">Cash On delivery</label>
                    </div>
                </div>
            </form>
        </div>
         -->
